body{
    font-size: 36px;
}

#hero{
    display: inline-block;
    background-color: white;
    height: 50vw;
}

.hero-title{
    font-size: 6vw;
}

.container{
    padding: 1em;
    font-size: 0.8em;
}

.text-color-main{
    color: #646b63;
}

.cta-btn{
    color: #9c9c9c;
    border: #9c9c9c 0.06em;
    border-style: solid;
    padding: 0.2em;
    padding-top: 0.1em;
    margin-right: 1em;
}

.cta-btn:hover{
    color:white;
    background-color: #9c9c9c;
    text-decoration: none;
    transition-duration: 0.6s;
}

.hero-cta{
    margin-top: 1.5em;
    font-size: 3vw;
}

#about{
    background-color: #9c9c9c;
    color: white;
    font-size: 0.7em;
    padding-bottom: 3em;
    border-bottom-right-radius: 12em;
}

.img-fluid{
    margin-left: 10vw;
    margin-top: 1em;
    height: 17em;
    width: 11em;
}

.about-wrapper__info{
    margin-top: 1em;
}

.section-title{
    text-align: center;
    font-size: 5vw;
    margin-bottom: 1em;
}

.col-lg-4{
    font-size: 0.7em;
}

.img-project{
    height: 22vw;
    width: 45vw;
}

.row{
    margin-bottom: 2em;
}

.project-wrapper__text{
    margin-top: 1em;
}

#contact{
    display: block;
    background-color: #9c9c9c;
    color: white;
    text-align: center;
}

.cta-btn--resume{
    color: white;
    border-color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.cta-btn--resume:hover{
    color:#9c9c9c;
    background-color: #ffffff;
    text-decoration: none;
    transition-duration: 0.6s;
}

.fa-inverse{
    padding-left: 1.5em;
}

.footer{
    display: relative;
    background-color: black;
    text-align: center;
    border-top-left-radius: 4em;
}

.back-to-top i{
    color: white;
}

i:hover{
    text-decoration: none;
}
.addiction{
    background-color: #9c9c9c;
}